.statusMenu{
  width:92%;
  height:50px;
  margin:0 auto;
}
.statusMenu ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statusMenu ul li{
  width:25%;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.activeStatus{
  border-bottom:2px solid rgb(209,67,74);
  color:rgb(209,67,74);
}
.defaultStatus{
  border-bottom:2px solid #ccc;
}
.statusCircle{
  display:block;
  width:15px;
  height:15px;
  border-radius: 50%;
  position: relative;
  bottom:-7.5px;
}
.activeCircle{
  background-color: rgb(209,67,74);
}
.defaultCircle{
  background-color: #ccc;
}
.addressContent{
  width:92%;
  height:300px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.addressContent h2{
  font-size: 16px;
  opacity: 0.8;
  line-height: 50px;
}
.addressBox{
  width:100%;
  height:200px;
  display: flex;
}
.addressBox ul{
  display: flex;
  justify-content: space-between;
}
.addressBox ul li{
  width:280px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-right:30px;
  border:2px solid #e9e9e9;
}
.addressBox ul li:hover{
  border:2px solid orange;
  cursor: pointer;
}
.addressBox ul li .addressLeft{
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}
.addressBox ul li .addressRight{
  width:20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
.addressBox ul li .addressRight .delStatus{
  display: block;
  width:30px;
  height:30px;
  background:url("./../img/del.jpg") no-repeat;
}
.addressBox ul li .addressRight .delStatus:hover{
  background:url("./../img/del1.jpg") no-repeat;
  cursor: pointer;
}
.addressBox .addAddress{
  width:280px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.addressBox .addAddress:hover{
  border:2px solid orange;
  cursor: pointer;
}
.goodsName,.methodName{
  font-size: 20px;
  opacity: 0.8;
}
.address{
  opacity: 0.8;
}
.address,.orderId,.activeAddress,.defaultAddress,.methodInfo{
  font-size: 14px;
}
.orderId,.defaultAddress,.methodInfo{
  opacity: 0.6;
}
.activeAddress{
  color: orange;
}
.activeAddress:hover,.defaultAddress:hover{
  cursor: pointer;
  color: orange;
}
.addAddressBtn{
  font-size: 80px;
}
.addAddressBtn:hover{
  cursor: pointer;
  color: orange;
}
.shopMethod{
  width:92%;
  height:250px;
  margin:0 auto;
}
.shopMethod h2{
  font-size: 16px;
  opacity: 0.8;
  line-height: 50px;
}
.shopMethod ul li{
  width:260px;
  height:173px;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: space-around;
  border:2px solid #e9e9e9;
  padding-left: 20px;
}
.shopMethod ul li:hover{
  border:2px solid orange;
  cursor: pointer;
}
.methodPrice{
  font-size: 16px;
}
.moreBtn{
  display: block;
  color: orange;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
