<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>地址页面</title>
  <link rel="stylesheet" href="./../css/common.css">
  <link rel="stylesheet" href="./../css/address.css">
</head>
<body>
  <header class="headerBox">
    <section class="headPic">
      <img src="./../img/head_pic.JPG" alt="">
    </section>
    <section class="navMenu clearFix">
      <div class="navLocation">
        <a href="javascript:;">Home&nbsp;/&nbsp;</a>
        <span class="location">Address</span>
      </div>
      <div class="right_btn">
        <a href="javascript:;">Login</a>
        <a href="javascript:;">Logout</a>
      </div>
    </section>
  </header>
  <div class="addressMenu">
    <section class="statusMenu">
      <ul>
        <li class="activeStatus">
          <span>Confirm Address</span>
          <span class="statusCircle activeCircle"></span>
        </li>
        <li class="defaultStatus">
          <span>View Your Order</span>
          <span class="statusCircle defaultCircle"></span>
        </li>
        <li class="defaultStatus">
          <span>Make Payment</span>
          <span class="statusCircle defaultCircle"></span>
        </li>
        <li class="defaultStatus">
          <span>Order Confirmation</span>
          <span class="statusCircle defaultCircle"></span>
        </li>
      </ul>
    </section>
  </div>
  <div class="addressContent">
    <h2>SHOPPING ADDRESS</h2>
    <div class="addressBox">
      <ul>
        <li>
          <div class="addressLeft">
            <span class="goodsName">xxx</span>
            <span class="address">志敏大道</span>
            <span class="orderId">100000000000</span>
            <span class="activeAddress">Default address</span>
          </div>
          <div class="addressRight">
            <span class="delStatus"></span>
          </div>
        </li>
        <li>
          <div class="addressLeft">
            <span class="goodsName">xxx</span>
            <span class="address">森林公园</span>
            <span class="orderId">100000000000</span>
            <span class="defaultAddress">Set Default</span>
          </div>
          <div class="addressRight">
            <span class="delStatus"></span>
          </div>
        </li>
        <li>
          <div class="addressLeft">
            <span class="goodsName">xxx</span>
            <span class="address">朝阳公园</span>
            <span class="orderId">100000000000</span>
            <span class="defaultAddress">Set Default</span>
          </div>
          <div class="addressRight">
            <span class="delStatus"></span>
          </div>
        </li>
      </ul>
      <div class="addAddress">
        <span class="addAddressBtn">+</span>
        <span>Add new Address</span>
      </div>
    </div>
    <span class="moreBtn">查看更多&#8593;</span>
  </div>
  <div class="shopMethod">
    <h2>SHOPPING METHOD</h2>
    <div class="methodBox">
      <ul>
        <li>
          <span class="methodName">Standard shopping</span>
          <span class="methodPrice">Free</span>
          <span class="methodInfo">Once shipped，Order should arrive in the destination in 1-7 business days</span>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
  </footer>
</body>
</html>
