<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>购物车页面</title>
  <link rel="stylesheet" href="./../css/common.css">
  <link rel="stylesheet" href="./../css/cart.css">
</head>
<body>
  <header class="headerBox">
    <section class="headPic">
      <img src="./../img/head_pic.JPG" alt="">
    </section>
    <section class="navMenu clearFix">
      <div class="navLocation">
        <a href="javascript:;">Home&nbsp;/&nbsp;</a>
        <span class="location">Cart</span>
      </div>
      <div class="right_btn">
        <a href="javascript:;">Login</a>
        <a href="javascript:;">Logout</a>
      </div>
    </section>
  </header>
  <div class="cartContent">
    <h2>MY CART</h2>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th>ITEMS</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>SUBTOTAL</th>
        <th>EDIT</th>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="goodsCheck" />
          <img src="./../img/1.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">100￥</span>
        </td>
        <td>
          <button class="reduceGoods">-</button>
          <input type="text" value="10" class="goodsNum" />
          <button class="addGoods">+</button>
        </td>
        <td>
          <span>1000￥</span>
        </td>
        <td>
          <span class="delBtn"></span>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="goodsCheck" />
          <img src="./../img/2.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">500￥</span>
        </td>
        <td>
          <button class="reduceGoods">-</button>
          <input type="text" value="10" class="goodsNum" />
          <button class="addGoods">+</button>
        </td>
        <td>
          <span>5000￥</span>
        </td>
        <td>
          <span class="delBtn"></span>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="goodsCheck" />
          <img src="./../img/3.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">1000￥</span>
        </td>
        <td>
          <button class="reduceGoods">-</button>
          <input type="text" value="10" class="goodsNum" />
          <button class="addGoods">+</button>
        </td>
        <td>
          <span>10000￥</span>
        </td>
        <td>
          <span class="delBtn"></span>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="goodsCheck" />
          <img src="./../img/4.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">2000￥</span>
        </td>
        <td>
          <button class="reduceGoods">-</button>
          <input type="text" value="10" class="goodsNum" />
          <button class="addGoods">+</button>
        </td>
        <td>
          <span>20000￥</span>
        </td>
        <td>
          <span class="delBtn"></span>
        </td>
      </tr>
    </table>
    <div class="allCartInfo">
      <section class="leftSelectAll">
        <input type="checkbox" class="selectAll" />
        <span>Select all</span>
      </section>
      <section class="rightCheckout">
        <div class="priceTotal">
          <span>Item total:&nbsp;&nbsp;</span>
          <span class="totalPrice">36000￥</span>
        </div>
        <button class="checkOut">CHECKPUT</button>
      </section>
    </div>
  </div>
  <footer>
    Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
  </footer>
</body>
</html>
