<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模板页面</title>
  <link rel="stylesheet" href="./../css/common.css">
</head>
<body>
  <header class="headerBox">
    <section class="headPic">
      <img src="./../img/head_pic.JPG" alt="">
    </section>
    <section class="navMenu clearFix">
      <div class="navLocation">
        <a href="javascript:;">Home&nbsp;/&nbsp;</a>
        <span class="location">Goods</span>
      </div>
      <div class="right_btn">
        <a href="javascript:;">Login</a>
        <a href="javascript:;">Logout</a>
      </div>
    </section>
  </header>
  <footer>
    Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
  </footer>
</body>
</html>
