<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表页面</title>
  <link rel="stylesheet" href="./../css/common.css">
  <link rel="stylesheet" href="./../css/goodsList.css">
</head>
<body>
  <header class="headerBox">
    <section class="headPic">
      <img src="./../img/head_pic.JPG" alt="">
    </section>
    <section class="navMenu clearFix">
      <div class="navLocation">
        <a href="javascript:;">Home&nbsp;/&nbsp;</a>
        <span class="location">Goods</span>
      </div>
      <div class="right_btn">
        <a href="javascript:;">Login</a>
        <a href="javascript:;">Logout</a>
      </div>
    </section>
  </header>
  <div class="filterBox">
    <section class="filterMenu">
      <div class="filter">
        <span class="labelText">Sort by:</span>
        <a href="javascript:;" class="activeBtn">Default</a>
        <a href="javascript:;" class="labelText">Price</a>
      </div>
    </section>
  </div>
  <div class="mainContent">
    <aside class="mainLeft">
      <h2>PRICE:</h2>
      <section>
        <ul>
          <li>All</li>
          <li>0-100</li>
          <li>100-500</li>
          <li>500-1000</li>
          <li>1000-2000</li>
        </ul>
      </section>
    </aside>
    <article class="mainRight">
      <section>
        <ul>
          <li>
              <img src="./../img/1.jpg" alt="">
              <span class="goodsTitle">xxx</span>
              <span class="goodsPrice">100￥</span>
              <button class="addCart">加入购物车</button>
          </li>
          <li>
            <img src="./../img/2.jpg" alt="">
            <span class="goodsTitle">xxx</span>
            <span class="goodsPrice">500￥</span>
            <button class="addCart">加入购物车</button>
          </li>
          <li>
            <img src="./../img/3.jpg" alt="">
            <span class="goodsTitle">xxx</span>
            <span class="goodsPrice">1000￥</span>
            <button class="addCart">加入购物车</button>
          </li>
          <li>
            <img src="./../img/4.jpg" alt="">
            <span class="goodsTitle">xxx</span>
            <span class="goodsPrice">2000￥</span>
            <button class="addCart">加入购物车</button>
          </li>
        </ul>
      </section>
    </article>
  </div>
  <footer>
    Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
  </footer>
</body>
</html>
