<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>订单确认页面</title>
  <link rel="stylesheet" href="./../css/common.css">
  <link rel="stylesheet" href="./../css/address.css">
  <link rel="stylesheet" href="./../css/orderConfirm.css">
</head>
<body>
  <header class="headerBox">
    <section class="headPic">
      <img src="../img/head_pic.JPG" alt="">
    </section>
    <section class="navMenu clearFix">
      <div class="navLocation">
        <a href="javascript:;">Home&nbsp;/&nbsp;</a>
        <span class="location">View Your Order</span>
      </div>
      <div class="right_btn">
        <a href="javascript:;">Login</a>
        <a href="javascript:;">Logout</a>
      </div>
    </section>
  </header>
  <div class="addressMenu">
    <section class="statusMenu">
      <ul>
        <li class="activeStatus">
          <span>Confirm Address</span>
          <span class="statusCircle activeCircle"></span>
        </li>
        <li class="activeStatus">
          <span>View Your Order</span>
          <span class="statusCircle activeCircle"></span>
        </li>
        <li class="defaultStatus">
          <span>Make Payment</span>
          <span class="statusCircle defaultCircle"></span>
        </li>
        <li class="defaultStatus">
          <span>Order Confirmation</span>
          <span class="statusCircle defaultCircle"></span>
        </li>
      </ul>
    </section>
  </div>
  <div class="orderContent">
    <h2>ORDER CONTENT</h2>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <th>ORDER CONTENTS</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>SUBTOTAL</th>
      </tr>
      <tr>
        <td>
          <img src="../img/1.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">100￥</span>
        </td>
        <td>
          <span class="goodsNum">x10</span>
        </td>
        <td>
          <span>1000￥</span>
        </td>
      </tr>
      <tr>
        <td>
          <img src="../img/2.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">500￥</span>
        </td>
        <td>
          <span class="goodsNum">x10</span>
        </td>
        <td>
          <span>5000￥</span>
        </td>
      </tr>
      <tr>
        <td>
          <img src="../img/3.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">1000￥</span>
        </td>
        <td>
          <span class="goodsNum">x10</span>
        </td>
        <td>
          <span>10000￥</span>
        </td>
      </tr>
      <tr>
        <td>
          <img src="../img/4.jpg" alt="" class="goodsPic" />
          <span class="goodsName">xxx</span>
        </td>
        <td>
          <span class="goodsPrice">2000￥</span>
        </td>
        <td>
          <span class="goodsNum">x10</span>
        </td>
        <td>
          <span>20000￥</span>
        </td>
      </tr>
    </table>
    <div class="orderInfo">
      <section class="orderInfoLeft">
        <button class="previousBtn">PREVIOUS</button>
      </section>
      <section class="orderInfoRight">
        <span class="itemSubtotal">Item subtotal:36000￥</span>
        <span class="shop">Shipping:100￥</span>
        <span class="discount">Discount:0￥</span>
        <span class="tax">Tax:400￥</span>
        <span class="orderTotal">Order total:35500￥</span>
        <button class="paymentBtn">PROCEED TO PAYMENT</button>
      </section>
    </div>
  </div>
  <footer>
    Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
  </footer>
</body>
</html>
