<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>购买成功页面</title>
  <link rel="stylesheet" href="./../css/common.css">
  <link rel="stylesheet" href="./../css/address.css">
  <link rel="stylesheet" href="./../css/orderSuccess.css">
</head>
<body>
<header class="headerBox">
  <section class="headPic">
    <img src="./../img/head_pic.JPG" alt="">
  </section>
  <section class="navMenu clearFix">
    <div class="navLocation">
      <a href="javascript:;">Home&nbsp;/&nbsp;</a>
      <span class="location">Order Confirmation</span>
    </div>
    <div class="right_btn">
      <a href="javascript:;">Login</a>
      <a href="javascript:;">Logout</a>
    </div>
  </section>
</header>
<div class="addressMenu">
  <section class="statusMenu">
    <ul>
      <li class="activeStatus">
        <span>Confirm Address</span>
        <span class="statusCircle activeCircle"></span>
      </li>
      <li class="activeStatus">
        <span>View Your Order</span>
        <span class="statusCircle activeCircle"></span>
      </li>
      <li class="activeStatus">
        <span>Make Payment</span>
        <span class="statusCircle activeCircle"></span>
      </li>
      <li class="activeStatus">
        <span>Order Confirmation</span>
        <span class="statusCircle activeCircle"></span>
      </li>
    </ul>
  </section>
</div>
<div class="orderConfirmation">
  <img src="./../img/ok-2.png" alt="" class="orderOk" />
  <span class="processMsg">Congratulations!</span>
  <span class="processMsg">Your order is under processing!</span>
  <span class="orderMessage">Order ID：100000001 Order total：1000</span>
  <div class="goBtn">
    <button class="cartList">CART LIST</button>
    <button class="goodsList">GOODS LIST</button>
  </div>
</div>
<footer>
  Copyright © 2017 IMooc All Rights Reserved. About Us Terms & Conditions Privacy Policy
</footer>
</body>
</html>
